@{
    ViewBag.Title = "Home Page";
}

<div class="row" id="main-content">
    @model Mememory.Models.ImageModel

        @foreach (var image in Model)
        {

            <div class="@image.genre col-xs-12 col-sm-6 col-md-4 col-lg-3 image-unit">
                
                <div class="image-box">
                    <div class="image-header">
                        <p>@image.title</p><a class="remove-image" href="#">Delete</a>
                    </div>
                    <img class="image-frame" alt="@image.title" src="../../Images/@image.url " />
                    <div class="title-box">
                        <p>@image.description</p>
                    </div>
                </div>
                
            </div>
        }
</div>
